# Makefile targets
.server
.server.logs

# aspell files
*.bak

# Dangerous Home Directory Stuff
.bash_history
conf
.gnupg/*
investigations/*
*.ini
.ssh/*

# Editors
*.idea
*.swp
.vscode

# Environments
.env

# macOS
.DS_Store

# Makefile targets
.build
.develop
.lint
.static
build/

# Node
node_modules/

# Vite
.vite/