/* component styles */
:root {
  --ila-slideover-padding-x: 25px;
  --ila-slideover-padding-y: 5px;
}
.ila-body--has-dialog {
  overflow: hidden;
}
.ila-slideover {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.ila-slideover--closed {
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms, visibility 250ms;
}

.ila-slideover--open {
  display: block;
  z-index: 30000; /* Some University site headers (or parts of headers) have z-index 10,000. Displaying under 10,000 can cause mixed content display. */
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms, visibility 500ms;
}
.ila-slideover__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #24242496;
  cursor: pointer;
}

.ila-slideover__slideover {
  position: absolute;
  box-shadow: 0px 0px 17px 0px black;
  background: white;
  overflow-y: auto;
}

.ila-slideover--right .ila-slideover__slideover {
  top: 0;
  bottom: 0;
  right: 0;
  left: 70%;
}
.ila-slideover--left .ila-slideover__slideover {
  top: 0;
  bottom: 0;
  right: 70%;
  left: 0;
}

.ila-slideover__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--ila-slideover-padding-y) var(--ila-slideover-padding-x);
  border-bottom: 2px solid var(--il-orange);
}

.ila-slideover__label {
  margin: 0;
  padding: .2em 0;
}

.ila-slideover__close-button {
  border: none;
  background: transparent;
  padding: 5px;
  cursor: pointer;
}
.ila-slideover__close-icon {
  font-size: 35px;
}
.ila-slideover__close-button:hover,
.ila-slideover__close-button:focus {
  transition: background-color 0.3s;
  background-color: var(--il-blue);
  color: white;
}

.ila-slideover__content {
  padding: var(--ila-slideover-padding-y) var(--ila-slideover-padding-x);
}
