{% extends "layout.html" %}
{% block title %}
	<h1>Content Security Policy Demo - Illinois Cookie Banner</h1>
{% endblock %}
{% block scriptlinks %}
	<script data-cookie-fetch="no" src="js/ila-cookie-banner.js"></script>
	<!-- Locally serve all necessary CSS: -->
	<link rel='stylesheet' href='css/ila-cookie-banner.css'/>
	<link rel='stylesheet' href='css/ila-slideover.css'/>
	<link rel='stylesheet' href='css/ila-cookie-uiuc-colors.css'/>
{% endblock %}
{% block serversideincludes %}
    {% include "partials/ila-cookie-banner-content.part.html" %}
{% endblock %}
