{% extends "layout.html" %}
{% block scriptlinks %}


<script>
  function user_accepted_all (){
    /*IMPORTANT: DO NOT LOAD ANY TRACKING OUTSIDE THIS FUNCTION
    this function will be called if the user accept tracking*/
    var gtagId = 'G-40F70DPNT5'
    const script = document.createElement('script');
    script.src = `https://www.googletagmanager.com/gtag/js?id=${gtagId}`;
    script.async = true;
    document.head.appendChild(script);

    gtag('js', new Date());
    gtag('config', gtagId);
}


 
</script>
<script data-cookie-fetch="no" data-gtag="G-40F70DPNT5" src="js/ila-cookie-banner.js"></script>
<!-- Locally serve all necessary CSS: -->
<link rel='stylesheet' href='css/ila-cookie-banner.css'/>
<link rel='stylesheet' href='css/ila-slideover.css'/>
<link rel='stylesheet' href='css/ila-cookie-uiuc-colors.css'/>
{% endblock %}
{% block pagelinks %}
<p><a href="/">Illinois example here.</a></p>
<p><a href="/uic">UIC example here.</a></p>
<p><a href="/uis">UIS example here.</a></p>
{% endblock %}
{% block serversideincludes %}
    {% include "partials/ila-cookie-banner-content.part.html" %}
{% endblock %}
