<div id="ilaCookieModal"></div>
<div
    id="ilaCookieNoticeDiv"
    role="alertdialog"
    aria-labelledby="ilaCookieNoticeHeader"
    class="cookieb-holder ila-cookieb_no-printing">
    <div class="cookieb-holder-inner">
        <div id="ilaCookieBOne" class="ila-cookieb ila-cookieb--closed">
            <div class="ila-cookieb__cookieb">
                <button id="ilaCookieBXButton" aria-describedby="acceptall" type="button"
                class="ila-cookieb__close-button" aria-label="accept all and close"
                data-cookie-action="close-banner-granted">
                    <div class="ila-cookieb__close-icon" aria-hidden="true">
                        <strong>X</strong>
                    </div>
                </button>
                <div id="acceptall" role="tooltip">Accept all and close notice</div>
                <div class="ila-cookieb__heading">
                    <h2 id="ilaCookieNoticeHeader" class="ila-cookieb__h3">Cookie Notice</h2>
                </div>
                <div id="ilaCookieNoticeDetails" class="ila-cookieb__content">
                    <p>
                        We use Cookies on this site to enhance your experience and improve our marketing
                        efforts. Click on “About Cookies” to learn more. By continuing to browse without
                        changing your browser settings to block or delete Cookies, you agree to the storing of
                        Cookies and related technologies on your device.
                        <a class="ila-cookieb__popup-info-link ila-cookieb__popup-info" target=_new
                            href="https://www.vpaa.uillinois.edu/resources/cookies">
                            <strong>University of Illinois System Cookie Policy.</strong>
                            <span>Link opens in a new window</span>
                        </a>
                    </p>
                    <div class="ila-cookieb__actions">
                        <button id="ilaCookieAboutButton" type="button" class="ila-cookieb__button"
                        data-cookie-action="open-about">
                            About Cookies
                        </button>
                        <button id="ilaCookieCloseButton" type="button" class="ila-cookieb__button"
                        aria-label="close cookie notice" data-cookie-action="close-banner-granted">
                            Accept All Cookies
                        </button>
                        <button id="ilaCookieCloseButton" type="button" class="ila-cookieb__button"
                        aria-label="close cookie notice" data-cookie-action="close-banner-denied">
                            Reject Non-Essential Cookies
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ilaCookieSlideover"
    class="ila-slideover ila-slideover--closed ila-slideover--left cookieb-slideover-holder ila-cookieb_no-printing" role="dialog"
    aria-labelledby="ilaCookieSlideoverLabel" aria-modal="true">
    <div id="ilaSlideoverOverlay" class="ila-slideover__overlay" data-cookie-action="close-about"></div>
    <div class="ila-slideover__slideover">
        <div class="ila-slideover__header ila-cookieb-slideover__header">
            <h2 id="ilaCookieSlideoverLabel" class="ila-slideover__label">
                University of Illinois - Cookie Information
            </h2>
        </div>
        <div class="ila-slideover__content ila-cookieb_slide_content">
            <h3>About Cookies</h3>
            <p class="ila-cookieb__slide_small">
                Cookies and related technologies (herein “Cookies”) are small text files that a website saves on
                your computer when you visit the site. Cookies the University sets are called first-party
                Cookies. The data collected might be about you, your device, your preferences, or your login
                information. This data is mostly used to make the website work as expected so, for example, you
                don’t have to keep re-entering your credentials whenever you come back to the site. Cookies set
                by third parties are called third-party Cookies. We use third-party Cookies for analyzing
                website traffic and our advertising and marketing efforts. We have divided the Cookies we use
                into the following categories: Strictly Necessary, Performance, Functional, and Targeting. Under
                each category heading below you will find a general description of the Cookies in each category.
                You can change your browser settings to block, delete, or alert you to Cookies. The Help menu on
                the menu bar of most browsers will tell you how to do that. However, if you do, you may have to
                manually adjust preferences every time you visit a site and some features may not work as
                intended.
            </p>
            <p class="ila-cookieb__slide_small">
                See the
                <a id="system-cookie-policy-link" class="ila-cookieb__popup-info-slideout-link ila-cookieb__popup-info-slideout ila-cookieb__small-font-link" target=_new
                    href="https://www.vpaa.uillinois.edu/resources/cookies">
                    <strong>University of Illinois System Cookie Policy</strong>
                    <span>Link opens in a new window</span>
                </a> for more information.
            </p>
            <details>
                <summary class="ila-cookieb__pointer_hover">
                    Strictly Necessary Cookies - Always Active
                </summary>
                <p class="ila-cookieb__slide_small">
                    Strictly Necessary Cookies are first-party Cookies that are necessary for the website to
                    function. They can be either permanent or temporary and are usually only set in response to
                    actions made directly by you that amount to a request for services, such as logging in or
                    filling in forms. For example, we use Strictly Necessary Cookies to handle user registration
                    and login. Some sites require the use of Strictly Necessary Cookies to access the site, such
                    as University websites requiring University credentialed authentication. If you set your
                    browser to block or delete Cookies, you may not be able to access the site or some parts of
                    the site will not work.</p>
            </details>
            <details>
                <summary class="ila-cookieb__pointer_hover">
                    Performance Cookies - Always Active
                </summary>
                <p class="ila-cookieb__slide_small">
                    Performance Cookies allow us to count visits and traffic sources so we can measure and
                    improve the performance and effectiveness of University websites. Performance Cookies also
                    help the University understand which webpages are the most and least popular, see how
                    visitors move around the site, and determine whether webpage content is relevant to user
                    interests. Performance Cookies may be first-party or third party, permanent or temporary,
                    and do not personally identify individual visitors. Some Performance Cookies are “analytics”
                    Cookies (e.g., Google Analytics), using third-party software tools, which help us understand
                    more about how our websites are used and where visitors come from by collecting and
                    aggregating anonymous information on the pages visited and any advertisements viewed. The
                    University does not take responsibility for the collection, use, and management of data by
                    any third-party software tool provider unless required to do so by applicable law. If you
                    set your browser to block or delete Cookies, some site services and functionalities may not
                    work.</p>
            </details>
            <details>
                <summary class="ila-cookieb__pointer_hover">
                    Functional Cookies - Always Active
                </summary>
                <p class="ila-cookieb__slide_small">
                    Functional Cookies enhance the performance and functionality of our websites but are
                    non-essential to their use. These permanent Cookies allow our website to remember
                    information from your previous visits, such as details you submitted before or your
                    previously stated preferences. These Cookies may also be used to provide services you
                    request, such as newsletters or publications. They may be first- or third-party Cookies that
                    enable services we have added to our webpages. If you set your browser to block or delete
                    Cookies, some or all of these services may not function properly.</p>
            </details>
            <details>
                <summary class="ila-cookieb__pointer_hover">
                    Targeting Cookies - Always Active
                </summary>
                <p class="ila-cookieb__slide_small">
                    Targeting Cookies are used to deliver content tailored to your interests and may be
                    temporary or permanent. They may also be first-party or third-party Cookies. Targeting
                    Cookies are based on uniquely identifying your browser and device; they do not store
                    information such as your name. The University may use targeting Cookies prepared by the
                    University, its third-party contractors, or advertising partners to provide you with
                    personalized University display advertising and promotional material about the University
                    and its programs. The University may also allow third parties to place Cookies on your
                    device that collect and use anonymous information about your visits to, and interactions
                    with, our websites to personalize advertisements and promotional materials for University
                    goods and services. Targeting Cookies may be used by our third-party contractors or our
                    advertising partners to build a profile of your interests and show you relevant
                    advertisements on other sites. We may share information about your use of our site with our
                    social media, advertising, and analytics partners who may combine it with other information
                    that you have provided to them or that they have collected from your use of their services.
                    If you set your browser to block or delete Cookies, you will still see advertisements, but
                    they will be less targeted to your interests.</p>
            </details>
        </div>
        <div class="ila-cookieb__button-center-slideover">
            <button id="ilaCookieSlideClose" type="button" aria-label="close slideover"
                class="ila-cookieb__button ila-cookieb__button-close-slideover" data-cookie-action="close-about">
                Close
            </button>
        </div>
    </div>
</div>
